<p id="notice"><%= notice %></p>

<% if @user.banned == true %>
    <p>Account frozen</p>
<% end %>

<h2>
  <%= @user.username %>
</h2>

<% if @user.ratings.empty? %>
  <p>has not yet rated any beers</p>
<% else %>
  <p>
    Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
  </p>
<% end %>

<% if @user.beer_clubs.any? %>
  member of
  <% @user.beer_clubs.each do |club| %>
      <%= link_to club.name, club %>
  <% end %>
<% end %>

<ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @user == current_user %>
  <%= link_to 'Change password', edit_user_path(@user), { :class=>"btn btn-primary"} %>
  <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' } %></
<% end %>
<br>
<% if current_user != nil and current_user.admin == true %>
    <% if @user.banned == false %>
        <%= link_to 'Freeze', toggle_bans_user_path(@user.id), method: :post, class:"btn btn-danger" %>
    <% else %>
        <%= link_to 'Activate', toggle_bans_user_path(@user.id), method: :post, class:"btn btn-primary" %>
    <% end %>
<% end %>